version: "3.6"

services:
  api:
    image: volodymyrpastukh99/vova_cv:latest
    ports:
      - 80:8080
    expose:
      - 8080
    depends_on:
     - database
    links:
     - database

  database:
      restart: always
      image: mongo:latest
      ports:
        - 27017:27017
      expose:
        - 27017
