<html>
<head>
    <title>Vovan</title>
    <link href="/static/mainStyle.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div id="Header">
        <h1>CV Data Volodymyr Pastukh</h1>
    </div>
    <div id="content">
        <div id="nav">
            <h3>Navigation</h3>
            <ul>
                <li><a class="selected" href="main">Main</a></li>
                <li><a class="selected" href="complexes">Complex Projects</a></li>
                <li><a class="selected" href="projects">Projects</a></li>
                <li><a class="selected" href="technologies">Technologies</a></li>
                <li><a class="selected" href="addComplex">Add Complex Project</a></li>
                <li><a class="selected" href="addProject">Add Project</a></li>
                <li><a class="selected" href="addTech">Add Technologies</a></li>
                <li><a class="selected" href="https://github.com/VolodymyrPastukh">GitHub</a></li>
            </ul>
        </div>
        <div id="main">
            <form action="/addTech" method="post">
                <fieldset>
                    <legend>Technology:</legend>
                    <b><label for="title">Title:</label></b>
                    <input type="text" id="title" name="title" required><br><br>
                    <label for="tool">Tool:</label>
                    <input list="tools" name="tool" id="tool" required>
                    <datalist id="tools">
                        <option value="LANGUAGE">
                        <option value="FRAMEWORK">
                        <option value="LIBRARY">
                        <option value="DATABASE">
                        <option value="DEVOPS">
                        <option value="SERVICE">
                    </datalist><br><br>
                    <label for="project">Project</label>
                    <input list="projects" name="project" id="project" required>
                        <datalist id="projects">
                            {{#projects}}
                                <option value="{{.}}">
                            {{/projects}}
                        </datalist><br><br>
                    <input type="submit" value="Submit">
                </fieldset>
            </form>

        </div>
    </div>
    <div id="footer">
        Copyright &copy; 2021 Voldemar
    </div>
</div>
</body>
</html>