
<html>
<head>
    <title>Vovan</title>
    <link href="/static/mainStyle.css" rel="stylesheet"/>
</head>
<body>
<div id="container">
    <div id="Header">
        <h1>CV Data Volodymyr Pastukh</h1>
    </div>
    <div id="content">
        <div id="nav">
            <h3>Navigation</h3>
            <ul>
                <li><a class="selected" href="main">Main</a></li>
                <li><a class="selected" href="complexes">Complex Projects</a></li>
                <li><a class="selected" href="projects">Projects</a></li>
                <li><a class="selected" href="technologies">Technologies</a></li>
                <li><a class="selected" href="https://github.com/VolodymyrPastukh">GitHub</a></li>
            </ul>
        </div>
        <div id="main">
            <img src="/pictures/cv_im.jpg" width="230" height="300"><br>
            <p>Hi, i am Volodymyr Pastukh, highly focused, ambitious and a fast-learner student with good communication
                skills and teamwork skills.
                I have good knowledge and skills of object-oriented programming in Java and
                Kotlin languages.
                I understand working of network technologies and modern tools of deploying
                and setting applications.
                I have studied programming development for a 1 year, so i have several
                different training-projects (web app, android app, embedded apps, project for
                automatic deployment of apps).
                I have completed EPAM Java / Kotlin Online Course 2020.
                For myself i learn embedded systems and android development.</p>
        </div>
    </div>
    <div id="footer">
        Copyright &copy; 2021 Voldemar
    </div>
</div>
</body>
</html>
